@import url(header.css);
@import url(welcome-section.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


header label{
    display: none;
}

#check{
    display: none;
}

/* RESPONSIVE DESIGN */

@media (max-width: 960px){
    /* Styles for screens with a maximum width of 960px (DESKTOP) */
    header .navigation{
        display: none; 
    }

    header label{
        color: #fff;
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    header label:hover{
        color: #b0d592;
    }

    header label .close-btn{
        display: none; 
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(71, 114, 78, 0.6);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed; 
    }

    header label .menu-btn{
        position: absolute; 
    }

}

@media (max-width: 560px){
    /* Styles for screens with a maximum width of 560px (MOBILES) */
    header .name {
        font-size: 27px;
    }

    .hero-text{
        font-size: 20px;
    }
}